*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    padding: 100px;
    margin: auto;
    height: 500px;
    width: 500px;
    background-color: lightgray;

}
ul {
    list-style: none;
    cursor: pointer;
    
}
li:hover{
    cursor: pointer;
}
.error{
    color: red;
}
    
.done{
    text-decoration: line-through;
}
